{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <section class="login">
        <h1>Connexion</h1>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }},
                <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <img src="{{ asset('build/img/vinyle.png') }}" alt="Logo Vinylothèque" />

        <form method="post" class="app-form">
            <div class="form-group">
                <label for="inputEmail" class="required">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus />
            </div>
            <div class="form-group">
                <label for="inputPassword" class="required">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required />
            </div>
            <div class="form-group">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me">
                        Rester connecté
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="app-btn" type="submit">Connexion</button>
            </div>
        </form>
    </section>
{% endblock %}
