{% extends 'base.html.twig' %}

{% block title %}Modifie un album{% endblock %}

{% block body_class %}album{% endblock %}

{% block body %}
    <section class="edit">
        <h1>
            <a href="{{ app.request.headers.get('referer') }}">&laquo;</a>&nbsp;
            Modifie un album
        </h1>

        <img src="{{ asset('img/album/' ~ album.cover) }}" alt="{{ album.title }}" />

        {{ form_start(form, {'attr': {'class': 'app-form'}}) }}
        <div class="form-group">
            <p>{{ album.artist.name }}</p>
        </div>
        <div class="form-group">
            {{ form_widget(form.title) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.year) }}
        </div>
        <div class="form-group">
            {% if form_errors(form.cover) %}
                {{ form_widget(form.cover, {'attr': {'class': 'form-control error'}}) }}
                {{ form_errors(form.cover) }}
            {% else %}
                {{ form_widget(form.cover) }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form_widget(form._token) }}
            <button type="submit" class="app-btn">
                Enregistre &raquo;
            </button>
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
