<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        {% block meta %}{% endblock %}

        <title>{% block title %}{% endblock %} - Vinylothèque</title>

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />

        <script src="https://kit.fontawesome.com/b916232238.js" crossorigin="anonymous"></script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% if app.user %}
            <nav class="app-navigation">
                <a href="{{ path('app_home') }}" {% if app.request.get('_route') == 'app_home' %}class="active"{% endif %}>
                    <i class="fa-regular fa-circle-play"></i>
                    Écoute
                </a>
                <a href="{{ path('app_album_search') }}" class="text-success {% if app.request.get('_route') == 'app_album_search' or app.request.get('_route') == 'app_album_add' %}active{% endif %}">
                    <i class="fa-solid fa-circle-plus"></i>
                    Ajoute
                </a>
                <a href="{{ path('app_user_profile') }}" {% if app.request.get('_route') == 'app_user_profile' %}class="active"{% endif %}>
                    <i class="fa-solid fa-circle-user"></i>
                    Profil
                </a>
            </nav>

            <div class="pushes">
                {% if userAlbums is defined %}
                    <a href="{{ path('app_home_albums') }}" class="app-push">
                        <i class="fa-solid fa-record-vinyl"></i>
                        <span>{{ userAlbums | length }}</span>
                    </a>
                {% endif %}

                <a href="#" class="app-push bg-primary">
                    {% if true %}
                        <i class="fa-solid fa-face-smile"></i>
                    {% else %}
                        <i class="fa-solid fa-face-angry"></i>
                    {% endif %}
                </a>

                <a href="#" class="app-push bg-grey">
                    <i class="fa-solid fa-cloud"></i>
                </a>
            </div>
        {% endif %}

        <main>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="app-alert {{ label }}">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </main>
    </body>
</html>
