{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}


{% block javascripts %}
    <script src="{{ asset('build/js/moods.js') }}" defer></script>
{% endblock %}

{% block body %}
    <section class="profile">
        <h1>Mon profil</h1>

        <p>
            <small>{{ app.user.userAlbums | length }} album{% if app.user.userAlbums | length > 1 %}s{% endif %} dans ta vinylothèque</small>
        </p>

        <div class="actions">
            <a href="{{ path('app_logout') }}" class="text-danger" onclick="return window.confirm('Confirmez la déconnexion')">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Déconnexion</span>
            </a>
        </div>

        {{ form_start(form, {'attr': {'class': 'app-form'}}) }}
        <div class="form-group">
            <label for="{{ form.pseudo.vars.id }}" {% if form.pseudo.vars.required %}class="required"{% endif %}>{{ form.pseudo.vars.label }}</label>
            {{ form_widget(form.pseudo) }}
        </div>
        <div class="form-group">
            <label for="{{ form.email.vars.id }}" {% if form.email.vars.required %}class="required"{% endif %}>{{ form.email.vars.label }}</label>
            {{ form_widget(form.email) }}
        </div>
        <div class="form-group">
            <label for="{{ form.password.first.vars.id }}" {% if form.password.first.vars.required %}class="required"{% endif %}>{{ form.password.first.vars.label }}</label>
            {{ form_widget(form.password.first) }}
        </div>
        <div class="form-group">
            <label for="{{ form.password.second.vars.id }}" {% if form.password.second.vars.required %}class="required"{% endif %}>{{ form.password.second.vars.label }}</label>
            {{ form_widget(form.password.second) }}
        </div>
        <div class="form-group">
            <button type="submit" class="app-btn">Enregistrer &raquo;</button>
        </div>
        {{ form_end(form) }}

        {# <form class="app-form">
            <div class="form-group">
                <label for="userPseudo">Pseudo</label>
                <input type="text" name="pseudo" id="userPseudo" class="form-control error" value="ni" />
            </div>
            <div class="form-group">
                <label for="userEmail" class="required">Email</label>
                <input type="email" name="email" id="userEmail" class="form-control" value="nicolas@user.com" required aria-required="true" />
            </div>
            <div class="form-group">
                <label for="userPassword">Nouveau mot de passe</label>
                <input type="password" name="password" id="userPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label for="userPasswordConfirm">Confirmation</label>
                <input type="password" name="passwordconfirm" id="userPasswordConfirm" class="form-control" />
            </div>

        </form> #}
    </section>
{% endblock %}
